.nav-content__table {
    width: 100%;
    font-size: 1.4rem;
    border-collapse: collapse;
    box-shadow: 0 0 1px #ccc;
}

.nav-content__table th,
.nav-content__table td {
    text-align: center;
    padding: 10px;
}

.nav-content__table thead tr {
    background-color: var(--second-color);
    color: var(--white-color);
}

.nav-content__table tbody tr:nth-child(even) {
    background-color: #EEE
}

.nav-content__table tbody tr:nth-child(odd) {
    background-color: #FFF
}

.nav-content__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard__table-action:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.04);
}

.dashboard__table-action {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 3px;
}

.edit {
    color: #2A80C8;
}

.delete {
    color: red;
}

.nav-content__table-save {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 20px 0;
}