/*tablet*/
.header__list-icon-wrapper {
    display: none;
}

.small-logo {
    display: none;
}

@media only screen and (max-width: 860px) {
    .grid__col-2 {
        display: none;
    }

    .grid__col_2{
        width: 50%;
    }

    .nav-content__body{
        height: auto;
    }

    .grid__col-10 {
        width: 100%;
    }

    .header__nav-list {
        display: none
    }

    .header__list-icon-wrapper {
        display: block;
    }

    .header__list-icon {
        font-size: 24px;
    }

    .big-logo{
        display: none;
    }

    .small-logo {
        display: block;
    }

    .practice__content-img{
        width: 200px
    }
}

@media only screen and (max-width: 500px ) {
    .grid__col_2 {
        width: 100%;
    }

    .nav-content__body {
        height: auto;
    }
    .auth__user-name{
        display: none;
    }
    .header__nav-moblie{
        width: 434px;
    }
}
