<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/main.css" rel="stylesheet" type="text/css" />
    <link href="/Content/base.css" rel="stylesheet" type="text/css" />
    <link href="/Content/reStyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Content/admin.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/Fonts/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <title>Error</title>
</head>
<body>
    <div class="app">
        <header class="header__app">
            <div class="grid header__wrapper">
                <div class="header__logo">
                    <a href="#" class="header__logo-link">FPTUQuizz</a>
                </div>
            </div>
        </header>
        <div Class="app__container">
            @RenderBody()
        </div>
    </div>
</body>
</html>


